@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color:black;
    background-color: #c6c4bd;
  }
}

@layer components {
  .menuLink {
    @apply cursor-pointer hover:text-[#eaf6f6];
  }

  .tags {
    background-color: #7a8987 ;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 3px 10px;
    display: inline-block;
    color: #fcfefe;
    font-size: 12px;
  }

  .tags:last-child{
    margin-right: 0;
  }
  
  .tags:nth-child(2) {
    background-color: #c6c4bd;
  }
  .tags:nth-child(3) {
    background-color: #e2ba29;
  }
  .tags:nth-child(4) {
    background-color: #e229aa;
  }
  .tags:nth-child(5) {
    background-color: #444239;
  }
}
